/* Clean up defaults */
* {
	box-sizing: border-box;
}
a, button {
	color: inherit;
	background-color: transparent;
	font-size: inherit;
	text-transform: inherit;
	text-decoration: none;
	text-shadow: inherit;
	cursor: pointer;
	border: none;
	outline: none;
	padding: 0;
}
button {
	text-align: center;
}
template {
	display: none !important;
}
